.control {
  display: flex;
  flex-direction: column;
}
.top {
  background-color: rgb(111, 184, 209);
}

.algoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

.algoSelectBox {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  padding: 12px;
  border-radius: 5px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(255, 174, 203) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 174, 203) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.28);
}

.startStopIncrement {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  padding: 2rem;
}

.startingInput {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 5px;
  font-family: 'Arial Black', Gadget, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(255, 204, 145) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 204, 145) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.28);
}
.endingInput {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 5px;
  font-family: 'Arial Black', Gadget, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(255, 204, 145) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 204, 145) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.28);
}
.incrementInput {
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
  line-height: 14px;
  border-radius: 5px;
  font-family: 'Arial Black', Gadget, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(255, 204, 145) 0%,
    rgb(255, 255, 255) 50%,
    rgb(255, 204, 145) 100%
  );
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.28);
}

button {
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 13px;
  padding: 12px;
  border-radius: 34px;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-weight: 700;
  background-image: linear-gradient(
    to right,
    rgb(28, 110, 164) 0%,
    rgb(35, 136, 203) 50%,
    rgb(20, 78, 117) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 8px 5px 5px 0px;
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 1rem;
  width: 220px;
  margin: 0 auto;
}

.myButton:hover {
  background: #46ea15;
}
.myButton:active {
  background: #3a950c;
}

button:hover {
  border-color: #388e12;
}
.buttonSpacer {
  padding: 5px;
}
.abortButton {
  background-image: linear-gradient(
    to right,
    rgb(164, 28, 28) 0%,
    rgb(203, 35, 35) 50%,
    rgb(117, 20, 20) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 8px 5px 5px 0px;
  width: 220px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10%;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  color: #000000;
}

.controlBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  border-radius: 14px;
  background-image: linear-gradient(
    to right,
    rgb(209, 233, 255) 0%,
    rgb(255, 255, 255) 50%,
    rgb(209, 233, 255) 100%
  );
}

.algoControls {
  flex-basis: 70%;
  font-family: 'Arial Black', Gadget, sans-serif;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.28);
  max-width: 200px;
}
