#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top {
  height: 40vh;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.bottom {
  height: 40vh;
}

.control {
  /* height: 40vh; */
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
}

.graph {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 1rem;
}

.code-panel {
  height: 100%;
  width: 60vw;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  button {
    width: 10rem;
  }
}

.timestamps {
  height: 30vh;
  width: 20vw;
  border: 2px solid black;
  border-radius: 1rem;
}